name: Python Lint and Test

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
jobs:
  Lint and Test:
    name: Linting
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set Up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10
      - name: Install Deps
        run: pip install -r requirements.txt

      - name: Lint with Pycode
        run: pycodestyle .

      - name: Check for doc strings
        run: python -m pydocstyle .

      - name: Unit Testing
        run: coverage run -m unittest discover

      - name: Generate coverage report
        run: coverage report -m
